<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet"/>
<link rel="stylesheet" href="./css/styles.css">
    <title>Mercado Liebre</title>
</head>
<%- include('./partials/header')%>
<main>
    <div class="banner" ><img src="./images/banner.jpg" alt=""></div>
   <section>
       <div class="home-div">
        <h2>Ofertas</h2> 
        <div class="products">
        <% if(locals.products && locals.products.length) { %>
            <% products.forEach(item => { %>
            
                <article>
                    <a href="#">
                        <div class="img-div">
                            <img class="card-img" src="./images/products/<%= item.image %>" alt="this is a <%= item.name %> image">
                        </div>
                        <div class="description-div">
                        <div class="price-div">
                            <p class="price">$<%= item.price %></p>
                            <p class="discount"><%= item.discount %>%OFF</p>
                        </div>
                        <p><%= item.title %></p>
                        <p class="product-title"><%= item.name %></p>
                    </div>
                    </a>    
                </article>   
            
            <% }) %>
        <% } else { %>
            <p>No hay productos en oferta.</p>
        <% } %>
    </div>
   </section>
</main>
<footer>
    <div class="footer-main">
    <div class="footer-divs">
        <i class="fas fa-credit-card"></i>
        <h3>Paga con tarjeta o en efectivo</h3>
        <p>Con mercado liebre cash tienes cuotas sin interes con tarjeta o efectivo en puntos de pago. Y siempre es seguro! </p>
    </div>
    <div class="footer-divs">
        <i class="fas fa-gift"></i>
        <h3>Envío gratis desde los $2.500</h3>
        <p>Solo por estar registrado en mercado Liebre tenés envíos gratis en miles de productos. Es u</p>
    </div>
    <div class="footer-divs">
        <i class="fas fa-user-shield"></i>
        <h3>Seguridad de principio a fin</h3>
        <p>¿No te gusta? !Devolvelo! en MercadoLiebre no hay nada que no puedas hacer porque siempre estás protegid@</p>
    </div>
</div>
    <p>CopyRight 1999-2021 MercadoLiebre S.R.L</p>
</footer>
</html>



